
@model List<Horarios.Models.Disciplina>
@{
    ViewData["Title"] = "MostrarDisciplinas";
}

<h2>MostrarDisciplinas</h2>



<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">#</a></li>
                    <li class="active">Disciplinas</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="container">
        <div class="row">
            <section class="page col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        @{
                            foreach (var displina in Model)
                            {
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Disciplina: </b>
                                                @Html.DisplayFor(model => displina.Nome)&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <b>Ano: </b>
                                                @Html.DisplayFor(model => displina.Ano)&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <b>Professor: </b>
                                                @Html.DisplayFor(model => displina.Professor.Nome)&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td><button class="btn btn-toolbar"><a asp-action="Edit" asp-route-id="@displina.DisciplinaId">Editar</a></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                

                            }
                        }
                        <div class="form-group">

                            <button class="btn btn-info"><a asp-action="ba">Voltar à lista</a></button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>
