@model Horarios.Models.TipoProva

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>TipoProva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoProvaID">Editar</a> |
    <a asp-action="Index">Voltar ao menu anterior</a>
</div>
