@model Horarios.Models.Estudante

@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende elmiminar?</h3>
<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoEstudante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstudanteDisciplina)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EstudanteId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar ao menu anterior</a>
    </form>
</div>
