@model Horarios.Models.Horario

@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende elminar?</h3>
<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeProva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datainicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datainicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaInteiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaInteiro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datafim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datafim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HorarioId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar ao menu anterior</a>
    </form>
</div>
